$font-stack: Roboto,"Helvetica Neue",sans-serif;
$color-00b:#00bcd4;
$color-fff:#fff;

.pageFullNav{
  .docs-navbar{
    background: $color-00b; padding: 8px 16px;
    .footer-logo{
      float: left; margin-right: 15px;
      img{
        width: 40px;
      }
    }
    a{
      color: $color-fff; text-transform: uppercase;
    }
    a:last-child{
      float: right;
    }
  }
}
