<div class="login-form">
  <form>
    <div class="form">
      <md-input-container>
        <input mdInput placeholder="Enter Username " value="">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Enter Password " value="">
      </md-input-container>
      <div class="docs-homepage-bottom-start">
        <a class="docs-button mat-raised-button" md-raised-button="" aria-disabled="false" tabindex="0" href="/#"><span class="mat-button-wrapper">Login</span>
          <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </div>
    </div>
  </form>
</div>
