@import '../../theme/variables.scss';
.login-form{
  width: 100%; float: left;
  .form{
    width: 400px;
    padding: 50px;
    margin: 88px auto;
    float: none;
    box-shadow: 0 0 5px $color-656;
    .mat-input-container{
      margin-bottom: 15px; width: 100%; float: left;
      width: 100%; float: left;
      input{
        width: 100%; float: left; padding: 8px 15px;
      }
    }
    .docs-homepage-bottom-start{
      margin-top: 50px;
      a.docs-button{
        background: $color-00b; color: $color-fff; padding: 5px 35px; font-size: 16px; text-transform: uppercase;
      }
    }
  }
}

.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}

