<header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1>Ng Material Seed</h1>
      <h2> Ng-material-boilerplate for building Angular Material apps</h2>
    </div>
    <div class="header-start">
      <a class="header-button mat-raised-button" md-raised-button="" aria-disabled="false" tabindex="0" target="_blank"
         href="https://github.com/habilelabs/angular-material-seed/blob/master/README.md"><span class="mat-button-wrapper">Get started</span>
        <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
    </div>
  </div>
</header>
<div class="docs-homepage-promo">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <img alt="Sprint from Zero to App" src="assets/images/sprintzerotoapp.svg">
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Sprint from Zero to App</h2>
      <p>Hit the ground running with comprehensive, modern UI components that work across
        the web, mobile and desktop</p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <img alt="Fast and Consistent" src="assets/images/fastandconsistent.svg">
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Fast and Consistent</h2>
      <p>Finely tuned performance, because every millisecond counts. Fully tested across
        modern browsers.</p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <img alt="Versatile" src="assets/images/versatile.svg">
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Versatile</h2>
      <p>Themable, for when you need to stay on brand or just have a favorite color.
        Accessible and internationalized so that all users are welcome.</p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <img alt="Optimized for Angular" src="assets/images/optimized.svg">
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Optimized for Angular</h2>
      <p>Built by the Angular team to integrate seamlessly with Angular.</p>
    </div>
  </div>
  <div class="docs-homepage-bottom-start">
    <a class="docs-button mat-raised-button" md-raised-button="" aria-disabled="false" tabindex="0" target="_blank"
       href="https://github.com/habilelabs/angular-material-seed/blob/master/README.md"><span class="mat-button-wrapper">Get started</span>
      <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
  </div>
</div>
