@import '../../theme/variables.scss';
header.header-background{
  width: 100%; float: left; margin-bottom: 40px; background: url('../../assets/images/header-bg.svg') 50% repeat-x, #00bcd4; padding: 170px 0 140px;
  .header-section{
    text-align: center; font-family: $font-stack;
    .header-headline{
      color: $color-fff;
      h1{
        font-weight: 500; font-size: 32px;
      }
      h2{
        font-weight: 300; font-size: 18px;
      }
    }
    .header-start{
      margin-top: 50px;
      a.header-button{
        color: $color-00b; padding: 5px 35px; font-size: 16px; text-transform: uppercase;
      }
    }
  }
}
.docs-homepage-promo{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 16px;
  font-family: $font-stack;
  .docs-homepage-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 920px;
    margin: 60px 0;
    .docs-homepage-promo-img{
      text-align: center; width: 50%;
      img{
        max-width: 90%;
      }
    }
    .docs-homepage-promo-desc{
      width: 50%;
      line-height: 2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      h2{
        font-weight: 500; font-size: 24px; color: $color-00b; margin:0 0 20px;
      }
      p{
        font-weight: 300; font-size: 15px; line-height: 20px; margin: 0px; color: $color-656;
      }
    }
  }
  .docs-homepage-reverse-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .docs-homepage-bottom-start{
    margin-top: 50px;
    a.docs-button{
      background: $color-00b; color: $color-fff; padding: 5px 35px; font-size: 16px; text-transform: uppercase;
    }
  }
}
